.daLight {
    width: 500px;
    height: 800px;
    background: black;
    padding: 7rem;
}

.redLight {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: red;
}

.yellowLight {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: yellow;   
}

.greenLight {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: green;
}

.selected {
    box-shadow: -2px -43px 100px 100px rgb(233, 230, 210);
}